<%= form_with(model: search, local: true) do |form| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tabella %>
    <%= form.text_field :tabella %>
  </div>

  <div class="field">
    <%= form.label :campo %>
    <%= form.text_field :campo %>
  </div>

  <div class="field">
    <%= form.label :argomento %>
    <%= form.text_field :argomento %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :occorrenze %>
    <%= form.number_field :occorrenze %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
