<%= provide(:title, ApplicationHelper::VIEWTITLES[:searches][:index]) %>

<p id="notice"><%= notice %></p>

<% provide(:materiale1, content_tag(:div, content_tag(:p, "Vecchio Hello world!"), class: "strong")) %>
<% continua = content_tag(:p,"Secondo Hello world!!") %><% provide(:materiale1, continua) %>

<% provide(:materiale2, "index con modifiche da C9, definita in index,html.erb") %>

<a href="#" data-background-color="#990000">Sfondo Rosso</a>
<a href="#" data-background-color="#009900" data-text-color="FFFFFF">Bianco su Verde</a>
<a href="#" data-background-color="#000099" data-text-color="FFFFFF">Bianco su Blu</a>


<p id="notice"><%= notice %></p>

<h1>Searches</h1>
<ul id="searches">
  <%= render @searches %>
</ul>  


<br>
<%= form_with(model: @search) do |f| %>
  <%= f.label :tabella %> <br>
  <%= f.text_field :tabella %>
  <%= f.label :campo %> <br>
  <%= f.text_field :campo %>
  <%= f.label :argomento %> <br>
  <%= f.text_field :argomento %>
  <%= f.label :data %> <br>
  <%= f.text_field :data %>
  <%= f.label :tipo %> <br>
  <%= f.text_field :tipo %>
  <%= f.label :occorrenze %> <br>
  <%= f.text_field :occorrenze %>

   <%= f.submit %>
<% end %>
<br>
<%= button_to "TEST createprova1", miaprova1_path, remote: true %>

<%= link_to 'New Search', new_search_path %>
