<%= provide(:title, ApplicationHelper::VIEWTITLES[:searches][:show]) %>
<% provide(:materiale2, "Descrizione: #{@descrizione}") %>
<h1>Dettaglio della Ricerca</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tabella:</strong>
  <%= @search.tabella %> <%= @mia_tabella %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @search.campo %> <%= @mio_campo %>
</p>

<h3>Argomento:<%= @search.argomento %></h3>

<p>
  <strong>Data:</strong>
  <%= @search.data %> <%= "[ #{distance_of_time_in_words_to_now(@search.data, options = {include_seconds: true})} ]" %>
</p>

  
<p>
  <strong>Occorrenze:</strong>
  <%= @search.occorrenze %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @search.tipo %> <%= @mio_tipo %>
</p>

<%= link_to 'Prepara Esecuzione', eseric_path(@search) %>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>