<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    
    <div class="container">
      <%= render 'layouts/headerA' %>
      <div class="row">
       <div class="col-lg-12">
        col-lg-12
        <%= yield %>
       </div> 
      </div>
      
      <div class="row">
        <div class="col-md-4 col-lg-6" id="area_bassa_sinistra">
          <p>.col-md-4 col-lg-6 areabassasinistra: appare a sinistra</p> <%=yield(:materiale1) %></div>
        <div class="col-md-4 col-lg-6" id="area_bassa_destra">
          <p>.col-md-4 col-lg-6  areabassadestra: appare a destra</p>   <%=yield(:materiale2) %></div>
      </div>
      
      <div class="row">
        <%= render 'layouts/footer.html.erb' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
      
    </div>
    
    <% if @ugo_lay_1 %>
    <div style="padding:10px; 
      width:300px; height:auto; border:10px solid green;">
      Testo, immagini e quant'altro si voglia inserire come testo all'interno di questo box.
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 provacella">.col-md-6</div>
        <div class="col-md-6 provacella">.col-md-6</div>
      </div>
      <div class="row">
        <div class="col-md-4 provacella">.col-md-4</div>
        <div class="col-md-4 provacella">.col-md-4</div>
        <div class="col-md-4 provacella">.col-md-4</div>
      </div>
      <h3> fine della prova </h3>
    </div>
    <% end %>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
